[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
sphinx = "*"

[dev-packages]
build = "*"
twine = "*"
pytest = "*"
sphinx = "*"
furo = "*"

[requires]
python_version = "3.11"
